
/* Generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span{
    font-size: 50px;
    padding-left: 10px;
}



#header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#B5D5E4;
    width: 100%;
    height: 200px;
}

.contenuto_header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 80%;
    background-color: #DDA41F;

}

.big{
    
    width: 40%;
    height: 80%;
    background-color: #DDA41F;

}

.bordo{
    border: 6px dashed black;
}

/*Sezioni*/

.flex_sezioni{
    display: flex;
    flex-direction: column;
}

.gruppo{
    background-color: #EF82ED;
}

.sezione{
    background-color: white;
    justify-content: center;
    display: flex;
    /*DEBUG*/
    height: 1600px;
    align-items: center;
}

.blu{
    background-color: #020D85;

}

.grigio{
    background-color: #D4D2D4;
}

.nero{
     background-color: black;
}

/*Sottosezioni*/


.contenuto_sezione{
    display: flex;
    width: 60%;
    height: 80%;
    margin: 0 auto;
    justify-content: center;
}

.violetto{
    background-color:#EF82ED;
    width: 40%;
}

.verde{
    background-color: #218B21;
    width: 60%;
}

.rosso{
    background-color:#F08180;
    width: 60%;
}
.azzurretto{
    background-color: #20B3AA ;
    width: 10%;
}

.contenuto_figli_sezione_azzurro{
    width: 60%;
    background-color: #1E90FF;
}
.contenuto_figli_sezione_rosa{
    background-color:#FFC0CA ;
    width: 40%;
}

/*Footer*/

.contenuto_sezione_rosso{
    width: 20%;
    height: 90%;
    background-color:#F08180 ;
}

.contenuto_sezione_azzurretto{
    width: 10%;
    height: 90%;
    background-color:#20B3AA ;
}

.wbordo{
     border: 6px dashed rgb(255, 255, 255);
}

.footer{
    border-top: 6px solid white;
    height: 200px;
    
}
.contenuto_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#20B3AA;
    height: 80%;
    width: 60%;
    align-self:flex-end;
}

.footerLB{
    font-size: 50px;
    background-color: #FEB8C2;
    padding: 10px 30px;
}