
/* Generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.text_white a{
    color: white;
}
.text_black{
    color: black;
}

/*DEBUG*/

.bordo{
    border: 2px dashed black;
}

.wbordo{
     border: 2px dashed rgb(255, 255, 255);
}

span{
    font-size: 20px;
}

/*Bottoni*/
/*
button{
    border-radius: 20px;
    padding: 10px 15px;
}

.bazzurro{
    color: white;
    background-color:#8EA1E2;
}

.bbianco{
    background-color: white;
}

.bnero{
    color: white;
    background-color:black;
}
*/

/*Body*/

.flex_sezioni{
    /*Regole Flex*/
    display: flex;
    flex-direction: column;
}

/*header*/

#header{
    /*Regole Flex*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#B5D5E4;
    height: 80px;
}

.contenuto_header{
    /*Regole Flex*/
    display: flex;
    align-items: center;
    justify-content: center;

    width: 10%;
    height: 80%;
    /*DEBUG*/
    background-color: #DDA41F;
}

.big{ 
    width: 40%;
    height: 80%;
    /*DEBUG*/
    background-color: #DDA41F;
}

.contenitore_link{
    width: 400px;
    display: flex;
    justify-content: space-around;
}

/*Sezioni*/

.sezione{
    /*Regole Flex*/
    align-items: center; 
    justify-content: center;
    display: flex;

    height: 400px;
    background-color: white;
}

.sezione_big{
    height: 700px;
} 

.blu{
    height: 300px;
    background-color: #020D85;
}

.grigio{
    background-color: #D4D2D4;
}

.nero{
     background-color: #23272A;
}

.verde{
    width: 60%;
    height: 90%;
    /*DEBUG*/
    background-color: #218B21;
}

.rosso{
    width: 60%;
    /*DEBUG*/
    background-color:#F08180;  
}
.azzurretto{ 
    width: 10%;
    /*DEBUG*/
    background-color: #20B3AA ;
}

.contenuto_sezione{
    /*Regole Flex*/
    display: flex;
    justify-content: center;

    width: 60%;
    height: 80%;
    margin: 0 auto;
}

.violetto{
    width: 40%;
    /*DEBUG*/
    background-color:#EF82ED;
}

.contenuto_figli_sezione_azzurro{
    width: 60%;
    /*DEBUG*/
    background-color: #1E90FF;
}
.contenuto_figli_sezione_rosa{   
    width: 40%;
    /*DEBUG*/
    background-color:#FFC0CA;
}

/*Footer*/

.contenuto_sezione_rosso{
    width: 20%;
    height: 90%;
    /*DEBUG*/
    background-color:#F08180 ;
}

.contenuto_sezione_azzurretto{
    width: 10%;
    height: 90%;
    /*DEBUG*/
    background-color:#20B3AA ;  
}

/*II Footer*/ 

.footer{
    border-top: 2px solid white;
    height: 100px;
}

.contenuto_footer{
    /*Regole Flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self:flex-end;

    height: 80%;
    width: 60%;
    /*DEBUG*/
    background-color:#20B3AA;
}

.footerLB{
    font-size: 16px;
    padding: 10px 30px;
    /*DEBUG*/
    background-color: #FEB8C2;
}